In [1]:
# Creamos una clase para leer los archivos de forma automatica, para archivos de tipo txt y xml (indicado en los distintos métdos)
class Lectura_archivos:
    
    def lectura_xml (ruta_archivo_xml):
        import os
        import xml.etree.ElementTree as ET
        
        #Indica la ruta del archivo xml

        tree = ET.parse(ruta_archivo_xml)

        root = tree.getroot()

        xml_list = []
        for child in root:
            xml_dict = {}
            for subchild in child:
                xml_dict[subchild.tag] = subchild.text
            xml_list.append(xml_dict) # Es una lista que contiene diccionarios
            
        return xml_list

    def lectura_txt (ruta_archivo_txt, modo = 'r'):

        with open(ruta_archivo_txt,modo) as file:
            file_source = file.readlines()

        return  file_source

In [3]:
lectura = Lectura_archivos
lectura_xml =lectura.lectura_xml('/home/adalaber/Documents/ejercicios-de-adalab/project-DA-promo-b-modulo-1-team-3/HU2/data/data_xml.xml')

In [5]:

lectura_txt =lectura.lectura_txt('/home/adalaber/Documents/ejercicios-de-adalab/project-DA-promo-b-modulo-1-team-3/HU3/data_txt.txt', 'r')

In [6]:
# Creamos una clase para limpiar los datos según pide el cliente, para los archivos de tipo xml y txt, respectivamente

class Limpieza_archivos:

       def limpieza_xml(ruta_archivo): #Ruta del archivo xml

              import xml.etree.ElementTree as ET
              tree = ET.parse(ruta_archivo)

              root = tree.getroot()

              xml_list = []
              for child in root:
                     xml_dict = {}
                     for subchild in child:
                            xml_dict[subchild.tag] = subchild.text
                     xml_list.append(xml_dict) # Es una lista que contiene diccionarios
              
              for y in range(len(xml_list)):
                            xml_list[y]['index_xml'] = xml_list[y].pop('level_0')
                            xml_list[y]['index_sql'] = xml_list[y].pop('index')

              for i in xml_list:
                     for k, v in i.items(): 
                            if k == "gender":       
                                   if v == "0":                     
                                          i[k] = "Man"            
                                   elif v == "1":                      
                                          i[k] = "Woman"
                                   elif v == "2":
                                          i[k] = "Nonbinary"
                                   elif v == "3":
                                          i[k] = "Prefer not to say"
                                   elif v == "4":
                                          i[k] = "Prefer to self-describe"
              datos_filas_xml = []
              for d in xml_list:
                     fila = tuple(d.values())
                     datos_filas_xml.append(fila)
                     datos_filas_xml
                                                        

              return datos_filas_xml

       def limpieza_txt(ruta_archivo_txt): #Este archivo tiene que ser un formato .txt

              with open(ruta_archivo_txt,mode='r') as file:
                     file_source = file.readlines()

        
                     for string in range(0, len(file_source)):
                            
                            file_source[string]= file_source[string].split(";")
                            
                            for string2 in range(0,len(file_source[string])):

                                   file_source[string][string2] = file_source[string][string2].strip()
                                   
                                   file_source[string][string2] = file_source[string][string2].replace("null","NULL")

                                   file_source[string][string2] = file_source[string][string2].replace("<","Under")

                                   file_source[string][string2] = file_source[string][string2].strip("\n")

                     datos_txt = []
                     for i in file_source[1:]:
                            i = tuple(i)
                            datos_txt.append(i)
                     return datos_txt

       def limpieza_sql(contraseña):

              import mysql.connector
              cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1', database='project1_team3')

              mycursor = cnx.cursor()
              
              valores= ['q10_part_1', 'q10_part_2','q10_part_3', 'q10_part_4', 'q10_part_5', 'q10_part_6','q10_part_7','q10_part_8','q10_part_9','q10_part_10','q10_part_11','q10_part_12','q10_part_13','q10_part_14','q10_part_15','q10_part_16','q10_part_17','q10_other']
              for columna in valores:
                     try:
                            query= f'UPDATE data_sql SET {columna} = NULL  WHERE {columna} = "ERROR";'
                            mycursor.execute(query)
                            cnx.commit()
                            
                     except mysql.connector.Error as err:
                            print(err)
                            print("Error Code:", err.errno)
                            print("SQLSTATE", err.sqlstate)
                            print("Message", err.msg)

       
              cnx.close()
              return mycursor

In [7]:
limpieza = Limpieza_archivos

In [9]:

datos_xml =limpieza.limpieza_xml('/home/adalaber/Documents/ejercicios-de-adalab/project-DA-promo-b-modulo-1-team-3/HU2/data/data_xml.xml')

In [10]:
datos_txt =limpieza.limpieza_txt('/home/adalaber/Documents/ejercicios-de-adalab/project-DA-promo-b-modulo-1-team-3/HU3/data_txt.txt')

In [20]:
datos_sql=limpieza.limpieza_sql('AlumnaAdalab')

In [24]:
class Data_sql:

    def creacion_bbdd(contraseña, query_bbdd):
        import mysql.connector
        cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1')


        mycursor = cnx.cursor()
        try:
            mycursor.execute(query_bbdd)
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

        cnx.close()
        return mycursor
        
    def creacion_tabla(contraseña, query_tabla):
        import mysql.connector
        cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1', database='project1_team3')


        mycursor = cnx.cursor()
        try:
            mycursor.execute(query_tabla)
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

        cnx.close()
        return mycursor

    def drop_constraint(contraseña,nombre_tabla,nombre_constraint):
        import mysql.connector
        cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1', database='project1_team3')

        mycursor = cnx.cursor()

        query_drop = f"ALTER TABLE {nombre_tabla} DROP CONSTRAINT {nombre_constraint}"

        try:
            mycursor.execute(query_drop)
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)
            
        cnx.close() 
        return mycursor

    def insercion_datos(contraseña, query_insercion, datos):
        import mysql.connector
        cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1', database='project1_team3')


        mycursor = cnx.cursor()

        sql = query_insercion
        val = datos

        try:
            mycursor.executemany(sql, val)
            cnx.commit()
            print(mycursor.rowcount, "registro/s insertado/s.")
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

        cnx.close() 
        return mycursor


    def add_constraint(contraseña, nombre_tabla, foreign_key, referencias, nombre_constraint):
        #referencias = tabla_madre (columna_referencia)
        import mysql.connector
        cnx = mysql.connector.connect(user='root', password=contraseña,
                                    host='127.0.0.1', database='project1_team3')

        mycursor = cnx.cursor()

        query_add = f"ALTER TABLE {nombre_tabla} ADD CONSTRAINT {nombre_constraint} FOREIGN KEY {foreign_key} REFERENCES {referencias}"

        try:
            mycursor.execute(query_add)
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)
        
        cnx.close()
        return mycursor

In [ ]:
constraint_xml= "`fk_tabla_xml_data_sql`"
constraint_txt= "`fk_tabla_txt_data_sql`"

*CREACIÓN DE TABLAS*
------------------------------

In [27]:
bbdd = Data_sql

In [13]:

bbdd.creacion_bbdd('AlumnaAdalab', 'CREATE SCHEMA project1_team3;')

CMySQLCursor: CREATE SCHEMA project1_team3;

In [14]:
bbdd.creacion_tabla('AlumnaAdalab', '''CREATE TABLE `data_sql`(
                                                    index_sql INT NOT NULL AUTO_INCREMENT,
                                                    q10_part_1 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_2 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_3 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_4 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_5 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_6 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_7 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_8 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_9 VARCHAR(255) DEFAULT NULL, 
                                                    q10_part_10 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_11 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_12 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_13 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_14 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_15 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_16 VARCHAR(255) DEFAULT NULL,
                                                    q10_part_17 VARCHAR(255) DEFAULT NULL,
                                                    q10_other VARCHAR(255) DEFAULT NULL,
                                                    PRIMARY KEY (index_sql)
                                                    );''')

CMySQLCursor: CREATE TABLE `data_sql`(
               ..

In [15]:
bbdd.creacion_tabla('AlumnaAdalab', '''CREATE TABLE tabla_xml (
                                                index_xml INT NOT NULL,
                                                `time` VARCHAR(25) DEFAULT NULL,
                                                age VARCHAR(25) DEFAULT NULL,
                                                gender VARCHAR(25) DEFAULT NULL,
                                                index_sql INT NOT NULL,
                                                PRIMARY KEY (index_xml),
                                                CONSTRAINT `fk_tabla_xml_data_sql`
                                                    FOREIGN KEY (index_sql)
                                                    REFERENCES data_sql (index_sql)
                                                );''')

CMySQLCursor: CREATE TABLE tabla_xml (
               ..

In [53]:
bbdd.creacion_tabla('AlumnaAdalab', '''CREATE TABLE tabla_txt (
                                                index_txt INT NOT NULL AUTO_INCREMENT,
                                                index_sql INT NOT NULL,
                                                q3 VARCHAR(500) DEFAULT NULL,
                                                q4 VARCHAR(500) DEFAULT NULL,
                                                q5 VARCHAR(500) DEFAULT NULL,
                                                q6 VARCHAR(500) DEFAULT NULL,
                                                q7 VARCHAR(500) DEFAULT NULL,
                                                q8 VARCHAR(500) DEFAULT NULL,
                                                q9 VARCHAR(500) DEFAULT NULL,
                                                q11 VARCHAR(500) DEFAULT NULL,
                                                q12 VARCHAR(500) DEFAULT NULL,
                                                q13 VARCHAR(500) DEFAULT NULL,
                                                q14 VARCHAR(500) DEFAULT NULL,
                                                q15 VARCHAR(500) DEFAULT NULL,
                                                q16 VARCHAR(500) DEFAULT NULL,
                                                q17 VARCHAR(800) DEFAULT NULL,
                                                q20 VARCHAR(500) DEFAULT NULL,
                                                q21 VARCHAR(500) DEFAULT NULL,
                                                q22 VARCHAR(500) DEFAULT NULL,
                                                q23 VARCHAR(500) DEFAULT NULL,
                                                q24 VARCHAR(500) DEFAULT NULL,
                                                q25 VARCHAR(500) DEFAULT NULL,
                                                q26 VARCHAR(500) DEFAULT NULL,
                                                q32 VARCHAR(500) DEFAULT NULL,
                                                q33 VARCHAR(500) DEFAULT NULL,
                                                q34 VARCHAR(500) DEFAULT NULL,
                                                q35 VARCHAR(500) DEFAULT NULL,
                                                q41 VARCHAR(500) DEFAULT NULL,
                                                PRIMARY KEY (index_txt),
                                                CONSTRAINT `fk_tabla_txt_data_sql`
                                                    FOREIGN KEY (index_sql)
                                                    REFERENCES data_sql (index_sql)
                                                );''')

CMySQLCursor: CREATE TABLE tabla_txt (
               ..

*ALTERACIÓN DE TABLAS*
------------------------------

In [22]:
bbdd.drop_constraint('AlumnaAdalab','tabla_xml','`fk_tabla_xml_data_sql`')

3940 (HY000): Constraint 'fk_tabla_xml_data_sql' does not exist.
Error Code: 3940
SQLSTATE HY000
Message Constraint 'fk_tabla_xml_data_sql' does not exist.

In [54]:
bbdd.drop_constraint('AlumnaAdalab','tabla_txt','`fk_tabla_txt_data_sql`')

CMySQLCursor: ALTER TABLE tabla_txt DROP CONSTRAINT `f..

*INSERCIÓN DE DATOS*
------------------------------

In [28]:
bbdd.insercion_datos('AlumnaAdalab', 'INSERT INTO  tabla_xml (time, age, gender, index_xml, index_sql) VALUES (%s, %s, %s, %s, %s)', datos_xml)

25972 registro/s insertado/s.

In [55]:
bbdd.insercion_datos('AlumnaAdalab', 'INSERT INTO tabla_txt (index_sql, q3, q4, q5, q6, q7, q8, q9, q11, q12, q13, q14, q15, q16, q17, q20, q21, q22, q23, q24, q25, q26, q32, q33, q34, q35, q41) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)', datos_txt)

25972 registro/s insertado/s.

*ADD CONSTRAINT*
------------------------------

In [57]:
bbdd.add_constraint('AlumnaAdalab', 'tabla_xml', '(index_sql)', 'data_sql (index_sql)', '`fk_tabla_xml_data_sql`')

CMySQLCursor: ALTER TABLE tabla_xml ADD CONSTRAINT `fk..

In [58]:
bbdd.add_constraint('AlumnaAdalab', 'tabla_txt', '(index_sql)', 'data_sql (index_sql)', '`fk_tabla_txt_data_sql`')

CMySQLCursor: ALTER TABLE tabla_txt ADD CONSTRAINT `fk..